<%- include("../templates/head", {title: 'Editar Usuarios'}) %> 
    <% if (user) { %> 
    <div class = 'container mt-4'>
        <h1>Editar</h1>
        <div class="card border-secondary">
            <div class="card-header">Editar Registro</div>
            <div class="card-body">
                <form action="/users/update" method="POST">
                    <input id="id" name="id" value="<%= user.id_user%>" hidden>
                    <div class="mb-3">
                        <label for="user" class="form-label">Usuario</label>
                        <input type="text" name="user" id="user" value="<%= user.user%>" class="form-control" tabindex="1">
                    </div>
                    <div class="mb-3">
                        <label for="user" class="form-label">Contraseña</label>
                        <input type="text" name="password" id="password" value="<%= user.password%>" class="form-control" tabindex="2">
                    </div>
                    <button type="submit" class="btn btn-primary" tabindex="5">Guardar</button>
                    <a href="/users" class="btn btn-secondary">Cancelar</a>
                </form>
            </div>
        </div>
        
    </div>
    <% } %> 
<%- include("../templates/footer") %> 